@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&family=Workbench&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

* 
{
    font-family: "Bai Jamjuree", sans-serif;
}

#curriculum 
{
    background-image: url('../img/Backgrounds/futuristic.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#menu
{
    background-image: url('../img/Backgrounds/futuristic.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#portfolio
{
    background-image: url('../img/Backgrounds/futuristic.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#about-me
{
    background-image: url('../img/Backgrounds/futuristic.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#contact
{
    background-image: url('../img/Backgrounds/futuristic.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#contact form
{
    width: 100%;
}

.navbar .nav-item .nav-link
{
    color: darkcyan;
}
.navbar-nav .nav-item .nav-link.active, .navbar-nav .nav-item .nav-link:hover
{
    color: #800080;
    border-bottom: 1px solid #800080;
}

#about-me #pii
{
    justify-content: space-between;
}

#projects .background, #about-me .background
{
    background-image: linear-gradient( 76.3deg,  rgba(44,62,78,1) 12.6%, rgba(69,103,131,1) 82.8% );
    border-radius: 20px;
}

#about-me .background2
{
    border-radius: 20px;
    box-shadow: 0 0 4px #eee;
    background: black;
    /* background-image: linear-gradient(to right, #434343 0%, black 100%); */
}

#portfolio #projects .background p
{
    font-size: 12px;/*calc(0.4rem + 0.4vw + 0.06vh)*/
    color: black;
    text-align: justify;
}

#projects .intro
{
    color: white;
}

#portfolio #projects img, #portfolio .carousel-inner, #portfolio video
{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#projects h2
{
    background-image: linear-gradient( 109.6deg,  rgba(15,2,2,1) 11.2%, rgba(36,163,190,1) 91.8% );
    text-align: center;
    color: white;
    transition: 0.5s;
    font-size: calc(1rem + 1vw);
    background-size: 200% auto;
}

#projects h2:hover
{
    background-position: right center;
}

#projects .resource
{
    border-radius: 20px;
    background-image: linear-gradient( 109.6deg,  rgba(15,2,2,1) 11.2%, rgba(36,163,190,1) 91.1% );
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    width: calc(1rem + 1vw + 1vh); /*calc(2.3rem + 2vw + 2vh); 12vh*/
    font-size: calc(0.28rem + 0.28vw);
}

#projects .resource:hover
{
    background-position: right center;
}

#projects .resource a
{
    text-decoration: none;
    color: white;
}

.profile
{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.shadow 
{
    border-radius: 30px;
}

#menu h1
{
    font-size: calc(0.7rem + 0.8vh + 0.25vw);
    color: darkcyan;
}

#projects h1, #about-me h1, #contact h1
{
    color: darkcyan;
}

#about-me h6
{
    color: white;
}

#menu h4
{
    font-size: clamp(18px, 2vw, 16px);
    font-family: "Aldrich", sans-serif;
    color:darkcyan;
}

#menu h2
{
    font-family: "Aldrich", sans-serif;
}

#menu .description
{
    margin-top: 30vh;
    font-size: clamp(17px, 1.6vw, 16px);
    color: white;
    text-align: justify;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(100,43,115,1) 0%, rgba(4,0,4,1) 90%);
    width: 80%;
    border-radius: 22px;
}

#menu .brief-description img
{
    width: clamp(40px, 8vw, 80px);
}

#profile-abilities h2 
{
    color: black;
    font-size: 25px;
}

#profile-abilities h3 
{
    color: black;
    font-size: 16px;
}

#profile-abilities h6 
{
    color: black;
    font-size: calc(0.5rem + 0.3vw);
}

#profile-abilities .education p 
{
    color: black;
    font-size: 12px;
}

#profile-abilities .education-desc 
{
    margin-left: calc(0.4rem + 0.4vh);
}

#profile-abilities .professional-background .col-lg-2 img,
#profile-abilities .professional-background .col-xl-2 img 
{
    filter: grayscale(100%);
    width: calc(3.9rem + 3.9vw);/*18vh*/
}

#profile-abilities .professional-background .col-sm-12 img,
#profile-abilities .professional-background .col-md-12 img
{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.5s ease;
    width: calc(3.9rem + 3.9vw);
}

#profile-abilities .hobbies img 
{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.5s ease;
    width: 80%;
    height: 80%;
}

#profile-abilities .education img 
{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.5s ease;
    width: 95%;
}

#profile-abilities .education .col-md-4 img
{
    width: 75px;   
}

#profile-abilities .software img 
{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.5s ease;
    height: calc(1rem + 1vw);
    width: calc(1rem + 1vw);
}

#profile-abilities .software .col-sm-3 
{
    width: 18%;
}

#profile-abilities .hobbies .col-sm-2 
{
    width: 18%;
}

#profile-abilities .education img:hover,
#profile-abilities .hobbies img:hover,
#profile-abilities .software img:hover,
#profile-abilities .professional-background img:hover,
#profile-abilities .professional-background .col-sm-12 img:hover,
#profile-abilities .professional-background .col-md-12 img:hover,
#profile-abilities .professional-background .col-lg-2 img:hover,
#profile-abilities .professional-background .col-xl-2 img:hover 
{
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    transition: all 0.5s ease;
    filter: grayscale(0%);
    transform: scale(1.4);
}

#profile-abilities .languages ul 
{
    padding-left: 0;
}

#profile-abilities .languages ul li 
{
    color: #050301;
}

#profile-abilities .languages ul li 
{
    list-style-type: none;
}

#profile-abilities .languages
{
    background-image: linear-gradient(to bottom, #a67c52 0%, #6f4e37 100%);
    /* background-image: linear-gradient(70.5deg, rgb(136, 72, 109) 23.5%, rgb(136, 72, 109) 91.3%); */
}

#profile-abilities .professional-background 
{
    text-align: justify;
    background-image: linear-gradient(to bottom, #b2b2b2 0%, #8b8b8b 100%);
    /* background-image: linear-gradient(70.5deg, rgba(0,134,132,1) 23.5%, rgba(0,134,132,1) 91.3%); */
}

         
#profile-abilities .professional-background,
.languages p 
{
    text-align: justify;
    color: black;
}

#profile-abilities h4 
{
    color: black;
    font-size: 16px;
}

.education
{
    margin-left: calc(0.4vw + 0.4rem);
}

.education .col-lg-8 
{
    width: 85%;
}

.education .col-md-8 
{
    width: 61.5%;
}

#profile-abilities h5 
{
    color: black;
    font-size: 12px;
}

#profile-name a 
{
    color: #aab6c1ff;
    transition: all 500ms ease;
}

#profile-name i:hover,
footer i:hover 
{
    color: darkcyan;
    transition: all 500ms ease;
}

#profile-name h1 
{
    font-size: 7.5vh;
    font-weight: 500;
    color: #aab6c1ff;
}

#profile-name h4 
{
    font-size: 16px;
    font-weight: 400;
}

#profile-name i 
{
    font-size: 16px;
    -webkit-text-stroke: 1px;
    margin-right: 10px;
    transition: all 500ms ease;
}

#profile-name .contact
{
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid;
    color: #aab6c1ff;
    padding-bottom: 20px;
}

#profile-name .email
{
    width: 35%;
    padding-left: 15px;
}

#profile-name .whatsapp 
{
    width: 30%;
}

#profile-name .city 
{
    width: 20%;
}

#projects i
{
    font-size: 15px;
    color: #aab6c1ff;
    transition: all 500ms ease;
}

#projects i:hover 
{
    color: darkcyan;
    transition: all 500ms ease;
}

footer i
{
    font-size: 25px;
    color: #aab6c1ff;
    transition: all 500ms ease;
}

#contact footer
{
    margin-top: 20px;
}

footer .name 
{
    color: #aab6c1ff;
    text-decoration: none;
    padding-bottom: 10px;
    font-size: 15px;
}

#menu .btn-more, #about-me .btn-more, #contact .btn-more
{
    width: 100px; /*calc(3.2rem + 3.2vw + 3.2vh)*/
    font-size: 12px; /*calc(0.425rem + 0.425vw)*/
    background-image: linear-gradient(to right, rgba(4,0,4,1) 0%, rgba(100,43,115,1) 51%, rgba(100,43,115,1) 100%);
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 4px #eee;
    border-radius: 20px;
    border-color: darkcyan;
}

#menu .btn-more:hover, #about-me .btn-more:hover, #contact .btn-more:hover
{
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

#about-me h2, #contact label
{
    color: #aab6c1ff;
}

#about-me i
{
    color: #aab6c1ff;
}

#about-me p b
{
    color: #aab6c1ff;
}

#about-me #pii .container p
{
    color: #6f8393FF;
    text-align: justify;
}

#about-me #bio p
{
    color: white;
}

#about-me ul li
{
    list-style-type: none;
}

#about-me .icons
{
    font-size: 30px;
}

@media only screen and (width = 280px)
{
    #menu .brief-description
    {
        margin-top: 20vh;
        height: 50vh;
        padding: 0px;
        padding-top: 14vh;
        vertical-align: middle;
    }

    #menu .btn-more
    {
        width: 88px;
        font-size: 11px;
    }

    #menu h1
    {
        font-size: calc(0.5rem + 0.5vh + 0.25vw);
    }

    #projects .background p
    {
        font-size: calc(0.65rem + 0.55vw + 0.08vh);
        color: black;
        text-align: justify;
    }

    #profile-abilities .education p 
    {
        color: black;
        font-size: 9px;
        width: 50%
    }

    .education .col-md-8 
    {
        width: 54.5%;/*200px*/
    }

    #projects h2
    {
        font-size: calc(1.3rem + 1.3vw);
    }

    #projects .resource
    {
        width: calc(2.2rem + 2.2vw + 2.2vh); /*12vh*/
        font-size: calc(0.6rem + 0.6vw);
    }

    .education
    {
        margin-left: calc(0.3vw + 0.3rem);
    }

    #profile-abilities .education-desc 
    {
        margin-left: calc(0.3rem + 0.3vh);
    }

    #profile-abilities .software img 
    {
        height: calc(2rem + 3vw);
        width: calc(2rem + 3vw);
    }

    #profile-abilities h6 
    {
        color: black;
        font-size: calc(0.5rem + 0.5vw);
    }

    footer i 
    {
        font-size: calc(1rem + 1vw);
    }

    footer .name 
    {
        padding-bottom: 10px;
        font-size: calc(0.7rem + 0.6vw);
    }
}

@media only screen and (width = 360px)
{
    #menu .brief-description
    {
        margin-top: 20vh;
        height: 60vh;
        padding: 0px;
        padding-top: 14vh;
        vertical-align: middle;
        /* margin-bottom: 2.5vh; */
    }

    #projects .background p
    {
        font-size: calc(0.65rem + 0.55vw + 0.08vh);/*13px*/
        color: black;
        text-align: justify;
    }

    #projects h2
    {
        font-size: calc(1.3rem + 1.3vw);
    }

    #projects .resource
    {
        width: calc(2.8rem + 2.8vw + 2.8vh); /*12vh*/
        font-size: calc(0.6rem + 0.6vw);
    }

    #profile-abilities .software img 
    {
        height: calc(1.5rem + 1.5vw);
        width: calc(1.5rem + 1.5vw);
    }

    #profile-abilities h6 
    {
        color: black;
        font-size: calc(0.4rem + 0.55vw);
    }
}

@media only screen and (width = 375px)
{
    #menu .brief-description
    {
        margin-top: 20vh;
        height: 58.5vh;
        padding: 0px;
        padding-top: 14vh;
        vertical-align: middle;
        /* margin-bottom: 2vh; */
    }

    #projects h2
    {
        font-size: calc(1.3rem + 1.3vw);
    }

    .education
    {
        margin-left: calc(0.6vw + 0.6rem);
    }

    #profile-abilities .education-desc 
    {
        margin-left: calc(1.2rem + 1.2vh);
    }

    #projects .background p
    {
        font-size: calc(0.6rem + 0.55vw + 0.08vh);/*13px*/
        color: black;
        text-align: justify;
    }

    #projects .resource
    {
        width: calc(2.8rem + 2.8vw + 2.8vh); /*12vh*/
        font-size: calc(0.5rem + 0.5vw);
    }
    
    #menu .btn-more
    {
        width: 90px;
        font-size: 11px;
    }

    #menu h1
    {
        font-size: calc(0.7rem + 0.8vh + 0.25vw);
    }

    #profile-abilities .software img 
    {
        height: calc(2rem + 3vw);
        width: calc(2rem + 3vw);
    }

    #profile-abilities h6 
    {
        color: black;
        font-size: calc(0.5rem + 0.5vw);
    }
}

@media only screen and (width = 390px)
{
    #menu .brief-description
    {
        margin-top: 20vh;
        height: 62vh;
        padding: 0px;
        padding-top: 14vh;
        vertical-align: middle;
        /* margin-bottom: 2.5vh; */
    }

    #projects .background p
    {
        font-size: calc(0.65rem + 0.55vw + 0.08vh);/*13px*/
        color: black;
        text-align: justify;
    }

    #projects h2
    {
        font-size: calc(1.3rem + 1.3vw);
    }

    #projects .resource
    {
        width: calc(2.8rem + 2.8vw + 2.8vh); /*12vh*/
        font-size: calc(0.6rem + 0.6vw);
    }

    .education
    {
        margin-left: calc(0.6vw + 0.6rem);
    }

    #profile-abilities .education-desc 
    {
        margin-left: calc(1.2rem + 1.2vh);
    }

    #profile-abilities .software img 
    {
        height: calc(2rem + 3vw);
        width: calc(2rem + 3vw);
    }

    #profile-abilities h6 
    {
        color: black;
        font-size: calc(0.5rem + 0.5vw);
    }
}

@media only screen and (width >= 412px) and (width <= 414px)
{
    #menu .brief-description
    {
        margin-top: 26.2vh;
        height: 33.5vh;
        padding: 0px;
        padding-top: 12vh;
        vertical-align: middle;
        /* margin-bottom: 26vh; */
    }

    #menu h1
    {
        font-size: calc(0.7rem + 0.8vh + 0.25vw);
    }

    .education
    {
        margin-left: calc(0.7vw + 0.6rem);
    }

    #profile-abilities .education-desc 
    {
        margin-left: calc(1rem + 1vh);
    }

    #projects .background p
    {
        font-size: calc(0.7rem + 0.55vw + 0.09vh);/*13px*/
        color: black;
        text-align: justify;
    }

    #projects h2
    {
        font-size: calc(1.4rem + 1.4vw);
    }

    #projects .resource
    {
        width: calc(2.8rem + 2.8vw + 2.8vh); /*12vh*/
        font-size: calc(0.6rem + 0.6vw);
    }

    #profile-abilities .software img 
    {
        height: calc(2rem + 3vw);
        width: calc(2rem + 3vw);
    }

    #profile-abilities h6 
    {
        color: black;
        font-size: calc(0.5rem + 0.5vw);
    }
}

@media only screen and (width = 540px)
{
    #menu .brief-description
    {
        margin-top: 20vh;
        height: 40vh;
        padding: 0px;
        padding-top: 14vh;
        vertical-align: middle;
        /* margin-bottom: 22vh; */
    }

    #menu h1
    {
        font-size: calc(0.7rem + 0.8vh + 0.25vw);
    }

    #menu .btn-more
    {
        width: calc(3.5rem + 3.4vw + 2.6vh);
        font-size: calc(0.5rem + 0.5vw);
    }

    #projects .background p
    {
        font-size: calc(0.65rem + 0.55vw + 0.08vh);/*13px*/
        color: black;
        text-align: justify;
    }

    #projects h2
    {
        font-size: calc(1.3rem + 1.3vw);
    }

    #projects .resource
    {
        width: calc(2.8rem + 2.8vw + 2.8vh); /*12vh*/
        font-size: calc(0.6rem + 0.6vw);
    }
    
    .education
    {
        margin-left: calc(0.5vw + 0.5rem);
        padding-left: calc(1.5vw + 1.5rem);
    }

    #profile-abilities .education-desc 
    {
        margin-left: calc(1rem + 1vh);
        padding-left: calc(1.5rem + 1.5vh);
    }

    #profile-abilities .software img 
    {
        height: calc(2rem + 3vw);
        width: calc(2rem + 3vw);
    }

    #profile-abilities h6 
    {
        color: black;
        font-size: calc(0.5rem + 0.5vw);
    }

    .education .col-md-8 
    {
        width: 66%;/*200px*/
    }
}

@media only screen and (min-width: 652px) and (max-width: 653px)
{
    #menu .col-md-12
    {
        margin-top: 10vh;
        height: 10vh;
        padding: 0px;
        padding-bottom: 6vh;
        vertical-align: middle;
        margin-bottom: 10vh;
    }

    #menu .btn-more
    {
        width: 88px;
        font-size: 11px;
    }

    #menu h1
    {
        font-size: calc(0.7rem + 0.8vh + 0.25vw);
    }

    footer i 
    {
        font-size: calc(1rem + 1vw);
    }

    footer .name 
    {
        padding-bottom: 10px;
        font-size: calc(0.7rem + 0.6vw);
    }

    .education
    {
        margin-left: calc(0.3vw + 0.3rem);
    }

    #profile-abilities .education-desc 
    {
        margin-left: calc(0.3rem + 0.3vh);
    }

    #profile-abilities .software img 
    {
        height: calc(2rem + 3vw);
        width: calc(2rem + 3vw);
    }

    #profile-abilities h6 
    {
        color: black;
        font-size: calc(0.5rem + 0.5vw);
    }
}

@media only screen and (width = 667px)
{
    #menu .brief-description
    {
        margin-top: 20vh;
        height: 25.5vh;
        padding: 0px;
        padding-top: 5.6vh;
        vertical-align: middle;
        margin-bottom: 10vh;
    }

    #menu h1
    {
        font-size: calc(0.7rem + 0.8vh + 0.25vw);
    }

    #menu .btn-more
    {
        width: calc(2rem + 2vw + 2vh);
        font-size: calc(0.2rem + 0.2vw);
    }

    #profile-abilities .software img 
    {
        height: calc(2rem + 3vw);
        width: calc(2rem + 3vw);
    }

    #profile-abilities h6 
    {
        color: black;
        font-size: calc(0.5rem + 0.5vw);
    }

    footer i 
    {
        font-size: calc(1rem + 1vw);
    }

    footer .name 
    {
        padding-bottom: 10px;
        font-size: calc(0.7rem + 0.6vw);
    }
}

@media only screen and (width = 720px)
{
    #menu .brief-description
    {
        margin-top: 20vh;
        height: 35vh;
        padding: 0px;
        padding-top: 10vh;
        margin-bottom: 20vh;
    }

    #menu h1
    {
        font-size: calc(1rem + 1vh + 0.25vw);
    }

    #menu .btn-more
    {
        width: calc(3.5rem + 3.4vw + 2.6vh);
        font-size: calc(0.5rem + 0.5vw);
    }

    #profile-abilities .software img 
    {
        height: calc(2rem + 2vw);
        width: calc(2rem + 2vw);
    }

    #profile-abilities h6 
    {
        color: black;
        font-size: calc(0.5rem + 0.5vw);
    }
}

@media only screen and (width = 896px)
{
    #menu .brief-description
    {
        margin-top: 22.6vh;
        height: 23.2vh;
        padding: 0px;
        padding-top: 4.5vh;
        margin-bottom: 22.6vh;
    }

    #menu h1
    {
        font-size: calc(0.7rem + 0.8vh + 0.25vw);
    }

    #projects .resource
    {
        width: calc(2.2rem + 2.2vw + 2.2vh); /*12vh*/
        font-size: calc(0.5rem + 0.4vw);
    }

    #menu .btn-more
    {
        width: calc(3.5rem + 3.4vw + 2.6vh);
        font-size: calc(0.5rem + 0.5vw);
    }

    .education
    {
        margin-left: calc(0.7vw + 0.7rem);
    }

    #profile-abilities .education-desc 
    {
        margin-left: calc(1.2rem + 1.2vh);
    }

    #profile-abilities .software img 
    {
        height: calc(1.5rem + 1.5vw);
        width: calc(1.5rem + 1.5vw);
    }

    #profile-abilities h6 
    {
        color: black;
        font-size: calc(0.4rem + 0.55vw);
    }
}

@media only screen and (width = 844px)
{
    #menu .brief-description
    {
        margin-top: 22.2vh;
        height: 22vh;
        padding: 0px;
        padding-top: 4vh;
        margin-bottom: 22.2vh;
    }

    #menu h1
    {
        font-size: calc(0.7rem + 0.8vh + 0.25vw);
    }

    #menu .btn-more
    {
        width: calc(3.5rem + 3.4vw + 2.6vh);
        font-size: calc(0.5rem + 0.5vw);
    }

    .education
    {
        margin-left: calc(0.2vw + 0.2rem);
    }

    #profile-abilities .education-desc 
    {
        margin-left: calc(0.4rem + 0.4vh);
    }

    #profile-abilities .software img 
    {
        height: calc(1.5rem + 1.5vw);
        width: calc(1.5rem + 1.5vw);
    }

    #profile-abilities h6 
    {
        color: black;
        font-size: calc(0.4rem + 0.55vw);
    }
}

@media only screen and (width = 915px)
{
    #menu .col-md-12
    {
        margin-top: 22.8vh;
        height: 22.8vh;
        padding: 0px;
        padding-top: 4.5vh;
        margin-bottom: 22.8vh;
    }

    #menu h1
    {
        font-size: calc(0.7rem + 0.8vh + 0.25vw);
    }

    #menu .btn-more
    {
        width: calc(3.5rem + 3.4vw + 2.6vh);
        font-size: calc(0.5rem + 0.5vw);
    }

    .education
    {
        margin-left: calc(0.3vw + 0.3rem);
    }

    #profile-abilities .education-desc 
    {
        margin-left: calc(0.4rem + 0.4vh);
    }

    #profile-abilities .software img 
    {
        height: calc(1.5rem + 1.5vw);
        width: calc(1.5rem + 1.5vw);
    }

    #profile-abilities h6 
    {
        color: black;
        font-size: calc(0.4rem + 0.55vw);
    }
}

@media only screen and (width = 430px)
{
    #menu .brief-description
    {
        margin-top: 22.5vh;
        height: 61vh;
        padding: 0px;
        padding-top: 15vh;
        vertical-align: middle;
        margin-bottom: 2.5vh;
    }
    
    .education
    {
        padding-left: calc(1.5vw + 1.5em);
    }

    #menu h1
    {
        font-size: calc(0.7rem + 0.8vh + 0.25vw);
    }

    #projects .background p
    {
        font-size: calc(0.65rem + 0.55vw + 0.08vh);/*13px*/
        color: black;
        text-align: justify;
    }

    #projects h2
    {
        font-size: calc(1.3rem + 1.3vw);
    }

    #projects .resource
    {
        width: calc(2.8rem + 2.8vw + 2.8vh); /*12vh*/
        font-size: calc(0.6rem + 0.6vw);
    }
}

@media only screen and (width = 740px)
{
    #menu .brief-description
    {
        margin-top: 12vh;
        height: 50vh;
        padding: 0px;
        padding-top: 9vh;
        vertical-align: middle;
        margin-bottom: 2vh;
    }

    #menu h1
    {
        font-size: calc(0.7rem + 0.8vh + 0.25vw);
    }

    #menu .btn-more
    {
        width: calc(3.6rem + 3.5vw + 2.6vh);
        font-size: calc(0.5rem + 0.5vw);
    }

    #profile-abilities .education-desc 
    {
        margin-left: calc(0.4rem + 0.4vh);
    }

    .education
    {
        margin-left: calc(0.2vw + 0.2rem);
    }

    #profile-abilities .software img 
    {
        height: calc(1.8rem + 1.8vw);
        width: calc(1.8rem + 1.8vw);
    }

    #profile-abilities h6 
    {
        color: black;
        font-size: calc(0.5rem + 0.5vw);
    }
}

@media only screen and (width = 768px)
{
    #menu .brief-description
    {
        margin-top: 22.2vh;
        height: 43vh;
        padding: 0px;
        padding-top: 18vh;
        vertical-align: middle;
        margin-bottom: 22vh;
    }

    #menu h1
    {
        font-size: calc(0.7rem + 0.8vh + 0.25vw);
    }

    #menu .btn-more
    {
        width: calc(3.5rem + 3.4vw + 2.6vh);
        font-size: calc(0.5rem + 0.5vw);
    }

    .education
    {
        margin-left: calc(0.4vw + 0.4rem);
    }

    #profile-abilities .education-desc 
    {
        margin-left: calc(0.3rem + 0.3vh);
    }

    #profile-abilities .software img 
    {
        height: calc(1.5rem + 1.5vw);
        width: calc(1.5rem + 1.5vw);
    }

    #profile-abilities h6 
    {
        color: black;
        font-size: calc(0.4rem + 0.55vw);
    }
}

@media only screen and (width = 840px)
{
    #menu .brief-description .col-md-12
    {
        margin-top: 25.2vh;
        height: 43vh;
        padding: 0px;
        padding-top: 12vh;
        vertical-align: middle;
        margin-bottom: 22vh;
    }

    #menu h1
    {
        font-size: calc(0.7rem + 0.8vh + 0.25vw);
    }
}

@media only screen and (width = 853px)
{
    #menu .brief-description
    {
        margin-top: 22.2vh;
        height: 43vh;
        padding: 0px;
        padding-top: 12vh;
        vertical-align: middle;
        margin-bottom: 18vh;
    }

    #menu h1
    {
        font-size: calc(0.7rem + 0.8vh + 0.25vw);
    }
}

@media only screen and (width = 912px)
{
    #menu .brief-description
    {
        margin-top: 20vh;
        height: 50vh;
        padding: 0px;
        padding-top: 22vh;
        margin-bottom: 20vh;
    }

    #menu h1
    {
        font-size: calc(1.1rem + 1.1vw);
    }

    .education
    {
        margin-left: calc(0.4vw + 0.4rem);
    }

    #profile-abilities .education-desc 
    {
        margin-left: calc(0.3rem + 0.3vh);
    }

    #profile-abilities .software img 
    {
        height: calc(1.5rem + 1.5vw);
        width: calc(1.5rem + 1.5vw);
    }

    #profile-abilities h6 
    {
        color: black;
        font-size: calc(0.4rem + 0.55vw);
    }
}

@media only screen and (width = 914px)
{
    #menu .brief-description
    {
        margin-top: 16vh;
        height: 34vh;
        padding: 0px;
        padding-top: 10vh;
        margin-bottom: 18vh;
    }

    #menu h1
    {
        font-size: calc(0.7rem + 0.8vh + 0.25vw);
    }

    #menu .btn-more
    {
        width: calc(3.5rem + 3.4vw + 2.6vh);
        font-size: calc(0.5rem + 0.5vw);
    }
}

@media only screen and (width = 932px)
{
    #menu .brief-description
    {
        margin-top: 23.2vh;
        height: 23.2vh;
        padding: 0px;
        padding-top: 4.5vh;
        margin-bottom: 23.2vh;
    }

    #menu h1
    {
        font-size: calc(0.7rem + 0.8vh + 0.25vw);
    }

    #menu .btn-more
    {
        width: calc(3.5rem + 3.4vw + 2.6vh);
        font-size: calc(0.5rem + 0.5vw);
    }

    .education
    {
        margin-left: calc(0.2vw + 0.2rem);
    }

    #profile-abilities .education-desc 
    {
        margin-left: calc(0.4rem + 0.4vh);
    }

    #profile-abilities .software img 
    {
        height: calc(1.5rem + 1.5vw);
        width: calc(1.5rem + 1.5vw);
    }

    #profile-abilities h6 
    {
        color: black;
        font-size: calc(0.4rem + 0.55vw);
    }
}

@media only screen and (width = 1024px)
{
    #menu .brief-description
    {
        margin-top: 22vh;
        height: 38vh;
        padding: 0px;
        padding-top: 16vh;
        margin-bottom: 18vh;
    }

    #menu h1
    {
        font-size: calc(0.7rem + 0.8vh + 0.25vw);
    }

    #menu .btn-more
    {
        width: calc(2.5rem + 2.4vw + 2.6vh);
        font-size: calc(0.5rem + 0.5vw);
    }
}

@media only screen and (width = 1280px)
{
    #menu .brief-description
    {
        margin-top: 20vh;
        height: 50vh;
        padding: 0px;
        padding-top: 15vh;
        vertical-align: middle;
        margin-bottom: 12vh;
    }

    #menu h1
    {
        font-size: calc(0.7rem + 0.8vh + 0.25vw);
    }

    #projects .background p
    {
        font-size: calc(0.65rem + 0.55vw + 0.08vh);/*13px*/
        color: black;
        text-align: justify;
    }

    #projects h2
    {
        font-size: calc(1.3rem + 1.3vw);
    }

    #projects .resource
    {
        width: calc(2.8rem + 2.8vw + 2.8vh); /*12vh*/
        font-size: calc(0.6rem + 0.6vw);
    }
}

@media only screen and (width = 1368px)
{
    #menu .brief-description
    {
        margin-top: 18vh;
        height: 64vh;
        padding: 0px;
        padding-top: 18vh;
        vertical-align: middle;
        margin-bottom: 2.9vh;
    }

    .education
    {
        margin-left: calc(0.1vw + 0.1rem);
    }

    #profile-abilities .education-desc 
    {
        margin-left: calc(0.2rem + 0.2vh);
    }

    #profile-abilities .software img 
    {
        height: calc(1.5rem + 1.5vw);
        width: calc(1.5rem + 1.5vw);
    }

    #profile-abilities h6 
    {
        color: black;
        font-size: calc(0.4rem + 0.55vw);
    }
}

@media only screen and (width > 1537px)
{
    #menu .brief-description
    {
        margin-top: 18vh;
        height: 64vh;
        padding: 0px;
        padding-top: 18vh;
        vertical-align: middle;
        margin-bottom: 2.9vh;
    }
}