@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&family=Workbench&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

* 
{
    font-family: "Bai Jamjuree", sans-serif;
}

#hoja-de-vida 
{
    background-image: url('../img/futuristic.jpg');
    background-position: center;
    background-size: cover;

}

#inicio
{
    background-image: url('../img/futuristic.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
}

#portafolio
{
    background-image: url('../img/futuristic.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

#sobre-mi
{
    background-image: url('../img/futuristic.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar .nav-item .nav-link
{
    color: darkcyan;
}
.navbar-nav .nav-item .nav-link.active, .navbar-nav .nav-item .nav-link:hover
{
    color: #800080;
    border-bottom: 1px solid #800080;
}

#proyectos .background
{
    background-image: linear-gradient( 76.3deg,  rgba(44,62,78,1) 12.6%, rgba(69,103,131,1) 82.8% );
    border-radius: 20px;
}

#proyectos .background p
{
    font-size: calc(0.45rem + 0.45vw + 0.08vh);/*13px*/
    color: black;
    text-align: justify;
}

#proyectos .intro
{
    color: white;
}

#portafolio #proyectos img
{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#proyectos h2
{
    background-image: linear-gradient( 109.6deg,  rgba(15,2,2,1) 11.2%, rgba(36,163,190,1) 91.8% );
    text-align: center;
    color: white;
    transition: 0.5s;
    font-size: calc(1rem + 0.8vw);
    background-size: 200% auto;
}

#proyectos h2:hover
{
    background-position: right center;
}

#proyectos .resource
{
    border-radius: 20px;
    background-image: linear-gradient( 109.6deg,  rgba(15,2,2,1) 11.2%, rgba(36,163,190,1) 91.1% );
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    width: calc(2.3rem + 2vw + 2vh); /*12vh*/
    font-size: calc(0.5rem + 0.5vw);
}

#proyectos .resource:hover
{
    background-position: right center;
}

#proyectos .resource a
{
    text-decoration: none;
    color: white;
}

.profile 
{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.shadow 
{
    border-radius: 30px;
}

#inicio .brief-description
{
    margin-top: 24vh;
    height: 40vh;
    padding: 0px;
    padding-top: 14vh;
    vertical-align: middle;
    margin-bottom: 16.5vh;
}

/* #inicio .col-xl-12
{
    height: calc(10rem + 28vh);
    padding: 0px;
    padding-top: calc(2rem + 7vh);
    vertical-align: middle;
}

#inicio .col-lg-12
{
    height: calc(10rem + 28vh);
    padding: 0px;
    padding-top: calc(2rem + 7vh);
    vertical-align: middle;
} */

#inicio h1
{
    font-size: calc(1rem + 1vh);
    color: darkcyan;
}

#proyectos h1
{
    color: darkcyan;
}

#inicio h4
{
    font-size: clamp(18px, 2vw, 16px);
    font-family: "Aldrich", sans-serif;
    color:darkcyan;
}

#inicio h2
{
    font-family: "Aldrich", sans-serif;
}

#inicio .description
{
    margin-top: 30vh;
    font-size: clamp(17px, 1.6vw, 16px);
    color: white;
    text-align: justify;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(100,43,115,1) 0%, rgba(4,0,4,1) 90%);
    width: 80%;
    border-radius: 22px;
}

#inicio .hello
{
    width: 90%;
}

#inicio .brief-description img
{
    width: clamp(40px, 8vw, 80px);
}

#profile-abilities h2 
{
    color: black;
    font-size: 25px;
}

#profile-abilities h3 
{
    color: black;
    font-size: 16px;
}

#profile-abilities h6 
{
    color: black;
    font-size: 1.2vh;
}

#profile-abilities .education p 
{
    color: black;
    font-size: 12px;
}

#profile-abilities .education-desc 
{
    margin-left: 20px;
}

#profile-abilities .professional-background .col-lg-2 img,
#profile-abilities .professional-background .col-xl-2 img 
{
    filter: grayscale(100%);
    width: 18vh;
}

#profile-abilities .professional-background .col-sm-12 img,
#profile-abilities .professional-background .col-md-12 img
{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.5s ease;
    width: 26vh;
}

#profile-abilities .hobbies img 
{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.5s ease;
    width: 80%;
    height: 80%;
}

#profile-abilities .education img 
{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.5s ease;
    width: 95%;
}

#profile-abilities .education .col-sm-4 img 
{
    width: 84px;
}

#profile-abilities .education .col-md-4 img
{
    width: 75px;   
}

#profile-abilities .software img 
{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.5s ease;
    height: 25px;
    width: 25px;
}

#profile-abilities .software .col-sm-3 
{
    width: 18%;
}

#profile-abilities .hobbies .col-sm-2 
{
    width: 18%;
}

#profile-abilities .education img:hover,
#profile-abilities .hobbies img:hover,
#profile-abilities .software img:hover,
#profile-abilities .professional-background img:hover,
#profile-abilities .professional-background .col-sm-12 img:hover,
#profile-abilities .professional-background .col-md-12 img:hover,
#profile-abilities .professional-background .col-lg-2 img:hover,
#profile-abilities .professional-background .col-xl-2 img:hover 
{
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    transition: all 0.5s ease;
    filter: grayscale(0%);
    transform: scale(1.4);
}

#profile-abilities .languages ul 
{
    padding-left: 0;
}

#profile-abilities .languages ul li 
{
    color: #050301;
}

#profile-abilities .languages ul li 
{
    list-style-type: none;
}

#profile-abilities .languages
{
    /* background-image: linear-gradient( 180.8deg,  rgba(73,6,70,1) 6.9%, rgba(73,6,70,1) 73.2% ); */
    background-image: linear-gradient(70.5deg, rgb(136, 72, 109) 23.5%, rgb(136, 72, 109) 91.3%);
}

#profile-abilities .professional-background 
{
    text-align: justify;
    background-image: linear-gradient(70.5deg, rgba(0,134,132,1) 23.5%, rgba(0,134,132,1) 91.3%);
    /* background-image: radial-gradient( circle 915px at 14.7% 29.8%,  rgba(42,153,176,1) 0%, rgba(39,126,143,1) 49.7% ); */
}

         
#profile-abilities .professional-background,
.languages p 
{
    text-align: justify;
    color: black;
}

#profile-abilities h4 
{
    color: black;
    font-size: 16px;
}

.education .col-lg-8 
{
    width: 85%;
}

.education .col-md-8 
{
    width: 55%;/*200px*/
}

#profile-abilities h5 
{
    color: black;
    font-size: 12px;
}

#profile-name a 
{
    color: #aab6c1ff;
    transition: all 500ms ease;
}

#profile-name i:hover,
footer i:hover 
{
    color: darkcyan;
    transition: all 500ms ease;
}

#profile-name h1 
{
    font-size: 7.5vh;
    font-weight: 500;
    color: #aab6c1ff;
}

#profile-name h4 
{
    font-size: 16px;
    font-weight: 400;
}

#profile-name i 
{
    font-size: 16px;
    -webkit-text-stroke: 1px;
    margin-right: 10px;
    transition: all 500ms ease;
}

#profile-name .contact
{
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid;
    color: #aab6c1ff;
    padding-bottom: 20px;
}

#profile-name .email
{
    width: 35%;
    padding-left: 15px;
}

#profile-name .whatsapp 
{
    width: 30%;
}

#profile-name .city 
{
    width: 20%;
}

footer i 
{
    font-size: 25px;
    color: #aab6c1ff;
    transition: all 500ms ease;
}

footer .name 
{
    color: #aab6c1ff;
    text-decoration: none;
    padding-bottom: 10px;
    font-size: 15px;
}
    
#inicio .btn-mas
{
    width: 128px;
    background-image: linear-gradient(to right, rgba(4,0,4,1) 0%, rgba(100,43,115,1) 51%, rgba(100,43,115,1) 100%);
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 4px #eee;
    border-radius: 20px;
    border-color: darkcyan;
}

#inicio .btn-mas:hover
{
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 

#inicio #bienvenida p
{
    width: 75%;
}

@media only screen and (width = 280px)
{
    #inicio .brief-description
    {
        margin-top: 20vh;
        height: 50vh;
        padding: 0px;
        padding-top: 14vh;
        vertical-align: middle;
        margin-bottom: 10vh;
    }

    #inicio .btn-mas
    {
        width: 88px;
        font-size: 11px;
    }

    #inicio h1
    {
        font-size: 18px;
    }

    #proyectos .background p
    {
        font-size: calc(0.65rem + 0.55vw + 0.08vh);/*13px*/
        color: black;
        text-align: justify;
    }

    #proyectos h2
    {
        font-size: calc(1.3rem + 1.3vw);
    }

    #proyectos .resource
    {
        width: calc(2.8rem + 2.8vw + 2.8vh); /*12vh*/
        font-size: calc(0.6rem + 0.6vw);
    }

    footer i 
    {
        font-size: calc(1rem + 1vw);
    }

    footer .name 
    {
        padding-bottom: 10px;
        font-size: calc(0.7rem + 0.6vw);
    }
}

@media only screen and (width = 360px)
{
    #inicio .brief-description
    {
        margin-top: 20vh;
        height: 60vh;
        padding: 0px;
        padding-top: 14vh;
        vertical-align: middle;
        margin-bottom: 2.5vh;
    }

    #proyectos .background p
    {
        font-size: calc(0.65rem + 0.55vw + 0.08vh);/*13px*/
        color: black;
        text-align: justify;
    }

    #proyectos h2
    {
        font-size: calc(1.3rem + 1.3vw);
    }

    #proyectos .resource
    {
        width: calc(2.8rem + 2.8vw + 2.8vh); /*12vh*/
        font-size: calc(0.6rem + 0.6vw);
    }
}

@media only screen and (width = 375px)
{
    #inicio .brief-description
    {
        margin-top: 20vh;
        height: 58.5vh;
        padding: 0px;
        padding-top: 14vh;
        vertical-align: middle;
        margin-bottom: 2vh;
    }

    #proyectos h2
    {
        font-size: calc(1.3rem + 1.3vw);
    }

    #proyectos .background p
    {
        font-size: calc(0.6rem + 0.55vw + 0.08vh);/*13px*/
        color: black;
        text-align: justify;
    }

    #proyectos .resource
    {
        width: calc(2.8rem + 2.8vw + 2.8vh); /*12vh*/
        font-size: calc(0.5rem + 0.5vw);
    }
    
    #inicio .btn-mas
    {
        width: 90px;
        font-size: 11px;
    }

    #inicio h1
    {
        font-size: 20px;
    }
}

@media only screen and (width = 390px)
{
    #inicio .brief-description
    {
        margin-top: 20vh;
        height: 62vh;
        padding: 0px;
        padding-top: 14vh;
        vertical-align: middle;
        margin-bottom: 2.5vh;
    }

    #proyectos .background p
    {
        font-size: calc(0.65rem + 0.55vw + 0.08vh);/*13px*/
        color: black;
        text-align: justify;
    }

    #proyectos h2
    {
        font-size: calc(1.3rem + 1.3vw);
    }

    #proyectos .resource
    {
        width: calc(2.8rem + 2.8vw + 2.8vh); /*12vh*/
        font-size: calc(0.6rem + 0.6vw);
    }
}

@media only screen and (width >= 412px) and (width <= 414px)
{
    #inicio .brief-description
    {
        margin-top: 26.2vh;
        height: 33.5vh;
        padding: 0px;
        padding-top: 12vh;
        vertical-align: middle;
        margin-bottom: 26vh;
    }

    #inicio h1
    {
        font-size: 22px;
    }

    #proyectos .background p
    {
        font-size: calc(0.7rem + 0.55vw + 0.09vh);/*13px*/
        color: black;
        text-align: justify;
    }

    #proyectos h2
    {
        font-size: calc(1.4rem + 1.4vw);
    }

    #proyectos .resource
    {
        width: calc(2.8rem + 2.8vw + 2.8vh); /*12vh*/
        font-size: calc(0.6rem + 0.6vw);
    }
}

@media only screen and (width = 540px)
{
    #inicio .brief-description
    {
        margin-top: 20vh;
        height: 40vh;
        padding: 0px;
        padding-top: 14vh;
        vertical-align: middle;
        margin-bottom: 22vh;
    }

    #inicio h1
    {
        font-size: calc(0.8rem + 0.8vw);
    }

    #inicio .btn-mas
    {
        width: calc(3.5rem + 3.4vw + 2.6vh);
        font-size: calc(0.5rem + 0.5vw);
    }

    #proyectos .background p
    {
        font-size: calc(0.65rem + 0.55vw + 0.08vh);/*13px*/
        color: black;
        text-align: justify;
    }

    #proyectos h2
    {
        font-size: calc(1.3rem + 1.3vw);
    }

    #proyectos .resource
    {
        width: calc(2.8rem + 2.8vw + 2.8vh); /*12vh*/
        font-size: calc(0.6rem + 0.6vw);
    }
}

@media only screen and (width = 653px)
{
    #inicio .brief-description
    {
        margin-top: 16vh;
        height: 11vh;
        padding: 0px;
        padding-bottom: 6vh;
        vertical-align: middle;
        margin-bottom: 28vh;
    }
    #inicio .btn-mas
    {
        width: 88px;
        font-size: 11px;
    }

    #inicio h1
    {
        font-size: 18px;
    }

    footer i 
    {
        font-size: calc(1rem + 1vw);
    }

    footer .name 
    {
        padding-bottom: 10px;
        font-size: calc(0.7rem + 0.6vw);
    }
}

@media only screen and (width = 667px)
{
    #inicio .brief-description
    {
        margin-top: 20vh;
        height: 25.5vh;
        padding: 0px;
        padding-top: 5.6vh;
        vertical-align: middle;
        margin-bottom: 20vh;
    }

    #inicio h1
    {
        font-size: 21px;
    }

    #inicio .btn-mas
    {
        width: 90px;
        font-size: 11px;
    }

    footer i 
    {
        font-size: calc(1rem + 1vw);
    }

    footer .name 
    {
        padding-bottom: 10px;
        font-size: calc(0.7rem + 0.6vw);
    }
}

@media only screen and (width = 720px)
{
    #inicio .brief-description
    {
        margin-top: 20vh;
        height: 35vh;
        padding: 0px;
        padding-top: 10vh;
        margin-bottom: 20vh;
    }

    #inicio h1
    {
        font-size: 22px;
    }

    #inicio .btn-mas
    {
        width: calc(3.5rem + 3.4vw + 2.6vh);
        font-size: calc(0.5rem + 0.5vw);
    }
}

@media only screen and (width = 896px)
{
    #inicio .brief-description
    {
        margin-top: 22.6vh;
        height: 23.2vh;
        padding: 0px;
        padding-top: 4.5vh;
        margin-bottom: 22.6vh;
    }

    #inicio h1
    {
        font-size: 22px;
    }

    #proyectos .resource
    {
        width: calc(2.2rem + 2.2vw + 2.2vh); /*12vh*/
        font-size: calc(0.5rem + 0.4vw);
    }

    #inicio .btn-mas
    {
        width: calc(3.5rem + 3.4vw + 2.6vh);
        font-size: calc(0.5rem + 0.5vw);
    }
}

@media only screen and (width = 844px)
{
    #inicio .brief-description
    {
        margin-top: 22.2vh;
        height: 22vh;
        padding: 0px;
        padding-top: 4vh;
        margin-bottom: 22.2vh;
    }

    #inicio h1
    {
        font-size: 22px;
    }

    #inicio .btn-mas
    {
        width: calc(3.5rem + 3.4vw + 2.6vh);
        font-size: calc(0.5rem + 0.5vw);
    }
}

@media only screen and (width = 915px)
{
    #inicio .brief-description
    {
        margin-top: 22.8vh;
        height: 22.8vh;
        padding: 0px;
        padding-top: 4.5vh;
        margin-bottom: 22.8vh;
    }

    #inicio h1
    {
        font-size: calc(0.8rem + 0.8vw);
    }

    #inicio .btn-mas
    {
        width: calc(3.5rem + 3.4vw + 2.6vh);
        font-size: calc(0.5rem + 0.5vw);
    }
}

@media only screen and (width = 430px)
{
    #inicio .brief-description
    {
        margin-top: 22.5vh;
        height: 61vh;
        padding: 0px;
        padding-top: 15vh;
        vertical-align: middle;
        margin-bottom: 2.5vh;
    }

    #inicio h1
    {
        font-size: calc(0.8rem + 0.8vw);font-size: 24px;
    }

    #proyectos .background p
    {
        font-size: calc(0.65rem + 0.55vw + 0.08vh);/*13px*/
        color: black;
        text-align: justify;
    }

    #proyectos h2
    {
        font-size: calc(1.3rem + 1.3vw);
    }

    #proyectos .resource
    {
        width: calc(2.8rem + 2.8vw + 2.8vh); /*12vh*/
        font-size: calc(0.6rem + 0.6vw);
    }
}

@media only screen and (width = 740px)
{
    #inicio .brief-description
    {
        margin-top: 12vh;
        height: 50vh;
        padding: 0px;
        padding-top: 9vh;
        vertical-align: middle;
        margin-bottom: 2vh;
    }

    #inicio h1
    {
        font-size: calc(0.8rem + 0.8vw);
    }

    #inicio .btn-mas
    {
        width: calc(3.6rem + 3.5vw + 2.6vh);
        font-size: calc(0.5rem + 0.5vw);
    }
}

@media only screen and (width = 768px)
{
    #inicio .brief-description
    {
        margin-top: 22.2vh;
        height: 43vh;
        padding: 0px;
        padding-top: 18vh;
        vertical-align: middle;
        margin-bottom: 22vh;
    }

    #inicio h1
    {
        font-size: calc(0.8rem + 0.8vw);
    }
}

@media only screen and (width = 840px)
{
    #inicio .brief-description .col-md-12
    {
        margin-top: 25.2vh;
        height: 43vh;
        padding: 0px;
        padding-top: 12vh;
        vertical-align: middle;
        margin-bottom: 22vh;
    }

    #inicio h1
    {
        font-size: calc(0.8rem + 0.8vw);
    }
}

@media only screen and (width = 853px)
{
    #inicio .brief-description
    {
        margin-top: 22.2vh;
        height: 43vh;
        padding: 0px;
        padding-top: 12vh;
        vertical-align: middle;
        margin-bottom: 18vh;
    }

    #inicio h1
    {
        font-size: calc(0.8rem + 0.8vw);
    }
}

@media only screen and (width = 912px)
{
    #inicio .brief-description
    {
        margin-top: 20vh;
        height: 50vh;
        padding: 0px;
        padding-top: 22vh;
        margin-bottom: 20vh;
    }

    #inicio h1
    {
        font-size: calc(0.8rem + 0.8vw);
    }
}

@media only screen and (width = 914px)
{
    #inicio .brief-description
    {
        margin-top: 16vh;
        height: 34vh;
        padding: 0px;
        padding-top: 10vh;
        margin-bottom: 18vh;
    }

    #inicio h1
    {
        font-size: calc(0.8rem + 0.8vw);
    }

    #inicio .btn-mas
    {
        width: calc(3.5rem + 3.4vw + 2.6vh);
        font-size: calc(0.5rem + 0.5vw);
    }
}

@media only screen and (width = 932px)
{
    #inicio .brief-description
    {
        margin-top: 23.2vh;
        height: 23.2vh;
        padding: 0px;
        padding-top: 4.5vh;
        margin-bottom: 23.2vh;
    }

    #inicio h1
    {
        font-size: 22px;
    }

    #inicio .btn-mas
    {
        width: calc(3.5rem + 3.4vw + 2.6vh);
        font-size: calc(0.5rem + 0.5vw);
    }
}

@media only screen and (width = 1024px)
{
    #inicio .brief-description
    {
        margin-top: 22vh;
        height: 38vh;
        padding: 0px;
        padding-top: 10vh;
        margin-bottom: 18vh;
    }

    #inicio h1
    {
        font-size: calc(0.8rem + 0.8vw);
    }

    #inicio .btn-mas
    {
        width: calc(3.5rem + 3.4vw + 2.6vh);
        font-size: calc(0.5rem + 0.5vw);
    }
}

@media only screen and (width = 820px)
{
    #inicio .col-12
    {
        margin-top: 22vh;
        height: 52vh;
        padding: 0px;
        padding-top: 18vh;
        vertical-align: middle;
        margin-bottom: 22vh;
    }

    #inicio h1
    {
        font-size: 24px;
    }
}

@media only screen and (width = 1280px)
{
    #inicio .brief-description
    {
        margin-top: 20vh;
        height: 50vh;
        padding: 0px;
        padding-top: 15vh;
        vertical-align: middle;
        margin-bottom: 12vh;
    }

    #inicio h1
    {
        font-size: 24px;
    }

    #proyectos .background p
    {
        font-size: calc(0.65rem + 0.55vw + 0.08vh);/*13px*/
        color: black;
        text-align: justify;
    }

    #proyectos h2
    {
        font-size: calc(1.3rem + 1.3vw);
    }

    #proyectos .resource
    {
        width: calc(2.8rem + 2.8vw + 2.8vh); /*12vh*/
        font-size: calc(0.6rem + 0.6vw);
    }
}

@media only screen and (width = 1368px)
{
    #inicio .brief-description
    {
        margin-top: 18vh;
        height: 64vh;
        padding: 0px;
        padding-top: 18vh;
        vertical-align: middle;
        margin-bottom: 2.9vh;
    }
}

@media only screen and (width > 1537px)
{
    #inicio .brief-description
    {
        margin-top: 18vh;
        height: 64vh;
        padding: 0px;
        padding-top: 18vh;
        vertical-align: middle;
        margin-bottom: 2.9vh;
    }
}